{% extends "base.html" %}
{% block title %} {% if is_category %}"{{ cate_name|safe }}" {% else %}Front Page {% endif %}{% endblock %}
{% block content %}
{% if is_category %}
<div class="well well-sm">
 There are
<span class="label label-info">{{ posts|length}}</span> in  "{{ cate_name|safe }} "：
</div>
{% endif %}
{% for post in posts %}
<!-- {% include "blog/_post.html" %} -->
{% include "blog/_summary.html" %}
{% endfor %}
{% endblock %}

{% block rightside %}
{% include "blog/_side.html" %}
{% endblock %}